@page "/fetchdata"

@using BlazorApp.Data
@using System.Net.Http.Json
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject WeatherForecastService ForecastService

<h1>Historique</h1>

@if (history == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var History in history)
            {
                <tr>
                    <td>@History.Date</td>
                    <td>@History.Score</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private History[] history = new History[] {};
    
    protected override async Task OnInitializedAsync()
    {
        history = await Http.GetFromJsonAsync<History[]>("https://localhost:5001/api/history");
    }
}
